@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  @apply border;
  @apply border-solid;
  @apply border-gray-300;
  /* @apply rounded-md; */
  @apply px-4;
  @apply py-2;
}

.border-hairline {
  @apply border border-black border-opacity-10;
}

.button-right {
  @apply bg-black text-white rounded-r-md rounded-l-md inline-block px-5 py-3 mx-0.5;
}

.button-bottom {
  @apply bg-black text-white rounded-b-md rounded-t-md inline-block px-5 py-3;
}


.image-wrapper {
  width: 100%;
  aspect-ratio: 1 / 1;
  position: relative;
}

.active-site {
  @apply text-blue-600;
}
